# Virtual environment
.venv/
venv/
env/

# Python cache
__pycache__/
*.pyc

# Environment variables (QUAN TRỌNG)
.env

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Alembic migrations (nếu dùng)
alembic/versions/*.pyc